.complaintsContainer {
  width: 100vw;
  min-height: 70vh;
  justify-content: start;
}

.complaintCard {
  max-width: 800px;
  min-width: 240px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 8px #0001;
  margin: 0 auto;
}

.cardTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cardParagraph {
  margin-bottom: 10px;
  font-size: 15px;
}

.cardTag {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 6px;
}

.cardDate {
  font-size: 13px;
}
