.formTitle {
  margin: 0.5rem 0;
  color: #c2cd4b;
}

.formSection {
  display: flex;
  color: #bdbbbb;
  min-width: 200px;
}

.formSection p {
  margin: 0.5rem 0;
}

.signUpButton {
  width: 200px !important;
  background-color: #c2cd4b !important;
}

.hoverButton:hover {
  filter: brightness(1.1);
  transition: filter 0.2s ease;
}

.formLayout {
  max-width: 800px;
  min-width: 300px;
  border-radius: 6px;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 20px 10px #f1eeee;
  gap: 1rem;
}

.formItem {
  flex-wrap: wrap;
  margin-inline: 1rem;
  width: 200px;
  min-width: 100px;
}
