.loginForm {
  min-width: 360px;
  margin: 1rem;
  color: var(--color-primary);;
}

.formButton {
  margin: 0.8rem 0;
  background-color: var(--color-primary) !important;
}

.formButton:hover {
  filter: brightness(1.18);
  transition: filter 0.2s ease;
}
