.formLayout {
  border-radius: 6px;
  padding: 2rem;
  box-shadow: 0 0 20px 10px #f1eeee;
}

.loginForm {
  min-width: 360px;
  margin: 1rem;
  color: #28947f;
}

.formButton {
  margin: 0.8rem 0;
  background-color: #28947f !important;
}

.formButton:hover {
  filter: brightness(1.18);
  transition: filter 0.2s ease;
}
