.headerActionsContainer {
  width: fit-content;
  gap: 1rem;
}

.authenticatedUserActions {
  width: fit-content;
  gap: 2rem;
}

.myComplaintsButton {
  background-color: var(--color-primary);
  height: 40px;
}

.userIconButton {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.userIcon {
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
}

.loginText,
.registerText {
  color: var(--color-primary);;
}

.hoverElement:hover {
  filter: brightness(1.1);
  transition: filter 0.2s ease;
}
