.headerActionsContainer {
  width: fit-content;
  gap: 1rem;
}

.defaultElement {
  min-width: 100px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  padding: 0.8rem;
  color: #ffffff;
  text-align: center;
}

.authenticatedUserActions {
  display: flex;
  width: fit-content;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
}

.myComplaintsButton {
  background-color: #4aa77c;
}

.userIconButton {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: #c2cd4b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.userIcon {
  justify-content: center;
  color: #fff;
  font-size: 2rem;
}

.loginText,
.registerText {
  color: #28947f;
}

.hoverElement:hover {
  filter: brightness(1.1);
  transition: filter 0.2s ease;
}
