.card {
  background-color: #ffffff;
  border: 1.2px solid var(--color-primary);
  border-radius: 6px;

  width: 100%;
  max-width: 350px;
  height: 125px;
  padding: 1rem 1.5rem;
  cursor: pointer;
  gap: 3rem;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.card:hover {
  filter: brightness(1.1);
  transition: filter 0.2s ease;
}

.cardTextContent {
  flex-direction: column;
  flex-grow: 1;
  line-height: 1.2;
  padding-bottom: 0.2rem;
}

.cardTitle {
  font-weight: bold;
  font-size: 18px;
  color: var(--color-primary);
  margin-bottom: 0.3rem;
}

.description {
  font-size: 14px;
  color: #333333;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.cardIcon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  overflow: hidden;
}

.iconImage {
  object-fit: contain;
}
