.cardDefault{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #fff;
    background-color: #cfcbcb;

    width: 300px;
    height: 80px;
    padding: 3.2rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    gap: 3rem;

    box-shadow: 0px 4px 4px 0px #00000040;
}

.cardDefault:hover{
    filter: brightness(1.1);
    transition: filter 0.2s ease;
}

.cardTextContent{
    display: flex;
    flex-direction: column;
    gap: 3;
    text-overflow: clip;
}

.cardTitle{
    font-weight: bold;
    font-size: 18px;
}

.labelText{
    font-size: 14px;
}

.iconCard{
    height: 50px;
}

