.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.homeTitle {
  text-align: center;
  text-wrap: 1;
  max-width: 60%;
}

.homeCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  gap: 1rem;
}

@media (max-width: 880px) {
  .homeCardContainer {
    justify-content: center;
    width: 100vw;
  }
}
