
.footerConteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-width: 400px;
}

.footerAnchorContainer{
    display: flex;
    font-family: sans-serif;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 100;
    width: 100%;
    background-color: #28947F;
    min-height: 80px;
    padding: 1rem;
}

.footerAllRight{
    background-color: #A1C852;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 12px;
    font-weight: normal ;
    align-items: center;
    padding: 0.3rem;
}

