.submitButton {
  width: 100%;
  background-color: var(--color-primary) !important;
}

.hoverButton:hover {
  filter: brightness(1.1);
  transition: filter 0.2s ease;
}

.cardDescription {
  min-width: 360px;
}

.emailInput {
  margin-top: 1rem;
}
