.filters {
  width: 80vw;
  background-color: #fff;
  padding-bottom: 1.5rem;
}

.filterComplaints {
  width: 40%;
  border-radius: 12px;
}

.filterRadio {
  display: none;
}

.filterLabel {
  padding: 0.3rem 1rem;
  border-radius: 12px;
  cursor: pointer;
}

input[type="radio"]:checked + .filterLabel {
  transition: 0.2s allow-discrete;
  background-color: var(--color-primary);;
  color: #fff;
}

input[value="forwarded"]:checked + .filterLabel {
  background-color: var(--color-primary);;
}

input[value="pending"]:checked + .filterLabel {
  background-color: #ffd700 !important;
}

input[value="resolved"]:checked + .filterLabel {
  background-color: #c2cd4b !important;
}
