.filters {
  width: 100%;
  background-color: #fff;
  display: flex;
  border-radius: 12px;
  min-height: 64px;
  max-width: 800px;
  padding-inline: 12px;
  height: 64px;
}

.filterComplaints {
  width: 100%;
  display: flex;
  border-radius: 12px;
  gap: 16px;
}

.filterRadio {
  display: none;
}

.filterLabel {
  padding: 0.3rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  white-space: nowrap;
}

input[type="radio"]:checked + .filterLabel {
  transition: 0.2s allow-discrete;
  background-color: var(--color-primary);;
  color: #fff;
}

input[value="forwarded"]:checked + .filterLabel {
  background-color: var(--color-primary);;
}

input[value="pending"]:checked + .filterLabel {
  background-color: #ffd700 !important;
}

input[value="resolved"]:checked + .filterLabel {
  background-color: #c2cd4b !important;
}
