.formContainer {
  max-width: 80vw;
}

.formSection {
  display: flex;
  color: #bdbbbb;
  min-width: 200px;
}

.formSection p {
  margin: 0.5rem 0;
}

.submitButton {
  width: 200px !important;
  background-color: #28947f;
}

.hoverButton:hover {
  filter: brightness(1.1);
  transition: filter 0.2s ease;
}

.formItem {
  flex-wrap: wrap;
  margin-inline: 1rem;
  width: 200px;
  min-width: 100px;
}

.addressInput {
  flex-wrap: wrap;
  max-width: 100%;
}

.cepInput {
  max-width: 10px !important;
}

.numberInput {
  max-width: 70px;
}

.streetInput {
  min-width: 400px;
}
